@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}

:root {
    
    --mainColor: #222831;
    --mainHoverColor: #2F3745;

    --mainColorLight: #EEEEEE;
    --mainHoverColorLight: #B3B3B3;

    --secondaryColor: #FD7014;
    --secondaryHoverColor: #FE9352;
}

body {
    background-color: var(--mainColor);
}

/* NAVBAR */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--secondaryColor);
    color: var(--mainColorLight);
}

nav .btn-link {
    background-color: transparent;
    border: none;
}

nav a {
    margin: 0 1rem;
    color: var(--mainColorLight);
    text-decoration: none;

    font-weight: 500;
    transition: 0.2s;
}
nav a:hover{
    color: var(--mainHoverColorLight);
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--mainColorLight);
    visibility: hidden;
    opacity: 0;
    font-size: 1.5rem;
}

/* TITLES */
.main-title {
    margin-top: 1.5em;
    font-family: 'Bebas Neue', cursive;

    color: var(--mainColorLight);

    display: flex;
    justify-content: center;
}

.secondary-title{
    margin-top: 1.5em;

    color: var(--mainColorLight);

    display: flex;
    justify-content: center;
}

/* CAROUSELS */

/* filmes */
.carousel-container{
    margin: 0 1em 0 1em;
    display: grid;
    gap: .5em;
}
.carousel-header{
    color: var(--mainColorLight);
    display: flex;
    justify-content: space-between;
}
.carousel-links{
    color: var(--mainColorLight);
    text-decoration: none;
}
.carousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.5em;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.film-bg{
    width: 8em;
    height: 12em;
    border-radius: 10px;
    background-color: #FD7014;

    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 1024px) {

    /* NAVBAR */

    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5em;

        backdrop-filter: blur(8px) saturate(52%);
        -webkit-backdrop-filter: blur(8px) saturate(52%);
        background-color: rgba(17, 25, 40, 0.65);
    


        transition: 1s;
        transform: translateY(-100vh);
    }

    header .responsive_nav{
        transform: none;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 1.5rem;
    }

    .carousel {
        justify-content: left;
    }
}